<div id="<%= dom_id recipe %>" class="flex flex-col gap-4">
  <div class="flex justify-center">
    <h1 class="text-3xl font-medium"><%= recipe.name %></h1>
  </div>
 <div class="flex justify-between">
    <div>
      <strong>Preparation time:</strong>
      <%= recipe.preparation_time %>
      <strong>Hour</strong>
    </div>
    <div class="switch-btn">
     <% if can? :manage, @recipe %>
       <%= form_for @recipe, method: :patch do |f| %>
          <div>
              <%= f.check_box :public, id: 'visibility-toggle' %>
             <%= f.label :public, 'Public', for: 'visibility-toggle' %>
             <%= f.submit '=>', class: "p-2 rounded-md bg-blue-400 hover:bg-yellow-400 text-black" %>
           </div>
        <% end %>
     <% end %>
   </div>
  </div>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
    <strong>Hour</strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
  <% if can? :manage, @recipe %>
  <div class="flex justify-between pb-10 mt-8">
    <button class="p-2 rounded-md bg-blue-400 hover:bg-emerald-400 text-black">
    <%= link_to "Generate Shopping List", shopping_list_path %>
    </button>
    <button class="p-2 rounded-md bg-emerald-400 hover:bg-yellow-400 text-black">
    <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe) %>
    </button>
  </div>
  <% end %>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
          <td>$ <%= recipe_food.value %></td>
          <td>
          <div>
          <% if can? :manage, @recipe %>
            <%= link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id)%>
            <%= button_to "Remove", recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id),  method: :delete %>
            <% end %>
          </div>
          </td>
      </tr>
    <% end %>
</table>
</div>
